h1 {
    color:maroon;
    font-size:40px;
    letter-spacing:15px;
    font-family: fantasy;
    text-transform: capitalize;
}

*{
    margin: 0px;
    padding: 0px;

}

div{
    background-color: rgba(61, 58, 59, 0.762);
    height: 100;
    box-sizing: border-box;

}

.div{
    background-color: black;
    padding: 50px;

}

